In [3]:
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np
import os
from numpy import genfromtxt
import sqlalchemy as db
from sqlalchemy import create_engine , MetaData,Table,Integer,Column,String,delete
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy_utils import database_exists, create_database

In [4]:
def Load_Data(file_name):
    data = genfromtxt(file_name, delimiter=',', skip_header=1, converters={0: lambda s: str(s)})
    return data.tolist()
Base = declarative_base()

In [ ]:
engine = db.create_engine('sqlite:///MyPyProject.db', echo = True)
if not database_exists(engine.url):
    create_database(engine.url)

print(database_exists(engine.url))
meta = MetaData()

## Create Tables

In [14]:
Test_data=Table("Test_data",meta,
    Column("id",Integer,primary_key=True),
    Column("X",Integer),
    Column("Y",Integer)
)

In [ ]:
class Train_data(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Train_data'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y1 = Column(Integer)
    Y2 = Column(Integer)
    Y3 = Column(Integer)
    Y4 = Column(Integer)


class Test_data(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Test_data'
    
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y = Column(Integer)

class Ideal_data(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Ideal_data'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y1 = Column(Integer)
    Y2 = Column(Integer)
    Y3 = Column(Integer)
    Y4 = Column(Integer)   
    Y5 = Column(Integer)
    Y6 = Column(Integer)
    Y7 = Column(Integer)
    Y8 = Column(Integer)  
    Y9 = Column(Integer)
    Y10 = Column(Integer)
    Y11 = Column(Integer)
    Y12 = Column(Integer)   
    Y13 = Column(Integer)
    Y14 = Column(Integer)
    Y15 = Column(Integer)
    Y16 = Column(Integer) 
    Y17 = Column(Integer)
    Y18 = Column(Integer)
    Y19 = Column(Integer)
    Y20 = Column(Integer)   
    Y21 = Column(Integer)
    Y22 = Column(Integer)
    Y23 = Column(Integer)
    Y24 = Column(Integer) 
    Y25 = Column(Integer)
    Y26 = Column(Integer)
    Y27 = Column(Integer)   
    Y28 = Column(Integer)
    Y29 = Column(Integer)
    Y30 = Column(Integer)
    Y31 = Column(Integer) 
    Y32 = Column(Integer)
    Y33 = Column(Integer)
    Y34 = Column(Integer)
    Y35 = Column(Integer)   
    Y36 = Column(Integer)
    Y37 = Column(Integer)
    Y38 = Column(Integer)
    Y39 = Column(Integer) 
    Y40 = Column(Integer)
    Y41 = Column(Integer)
    Y42 = Column(Integer)   
    Y43 = Column(Integer)
    Y44 = Column(Integer)
    Y45 = Column(Integer)
    Y46 = Column(Integer) 
    Y47 = Column(Integer)
    Y48 = Column(Integer)
    Y49 = Column(Integer)
    Y50 = Column(Integer)

In [ ]:
meta.create_all(engine)

In [11]:

session = sessionmaker()
session.configure(bind=engine)
s = session()

#engine.execute('delete from "Train_data"')
#engine.execute('delete from "Test_data"')
#engine.execute('delete from "Ideal_data"')

# loading the test.csv file into a Test_data table




# loading ideal.csv file into Ideal_data table

True
2021-11-07 16:35:11,894 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-07 16:35:11,896 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
file_name = "E:/IUBH/Books/Python/codes/test.csv"
data=Load_Data(file_name)
record=Test_data(**{"X":1,"Y":1})
s.add(record)
s.commit()

2021-11-07 16:35:15,896 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-07 16:35:15,899 INFO sqlalchemy.engine.Engine INSERT INTO "Test_data" ("X", "Y") VALUES (?, ?)
2021-11-07 16:35:15,900 INFO sqlalchemy.engine.Engine [generated in 0.00153s] (1, 1)
2021-11-07 16:35:15,902 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: Test_data
[SQL: INSERT INTO "Test_data" ("X", "Y") VALUES (?, ?)]
[parameters: (1, 1)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [9]:
try:
    file_name = "E:/IUBH/Books/Python/codes/test.csv"
    data = Load_Data(file_name) 
    for i in data:
        
        record = Test_data(**{
            'X' :i[0],
            'Y' : i[1],
        })
        s.add(record) #Add all the records

    s.commit() #Attempt to commit all the records
except:
    s.rollback() #Rollback the changes on error
finally:
    s.close()

2021-11-07 16:27:58,196 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-07 16:27:58,202 INFO sqlalchemy.engine.Engine INSERT INTO "Test_data" ("X", "Y") VALUES (?, ?)
2021-11-07 16:27:58,203 INFO sqlalchemy.engine.Engine [cached since 72.71s ago] ("b'-18.2'", '-0.24138825')
2021-11-07 16:27:58,205 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
'''
try:
    file_name = "E:/IUBH/Books/Python/codes/ideal.csv"
    data = Load_Data(file_name) 
    for i in data:
        
        record = Ideal_data(**{
            'X' : i[0],
            'Y1' : i[1],
            'Y2' : i[2],
            'Y3' : i[3],
            'Y4' : i[4],
            'Y5' : i[5],
            'Y6' : i[6],
            'Y7' : i[7],
            'Y8' : i[8],
            'Y9' : i[9],
            'Y10' : i[10],
            'Y11' : i[11],
            'Y12' : i[12],
            'Y13' : i[13],
            'Y14' : i[14],
            'Y15' : i[15],
            'Y16' : i[16],
            'Y17' : i[17],
            'Y18' : i[18],
            'Y19' : i[19],
            'Y20' : i[20],
            'Y21' : i[21],
            'Y22' : i[22],
            'Y23' : i[23],
            'Y24' : i[24],
            'Y25' : i[25],
            'Y26' : i[26],
            'Y27' : i[27],
            'Y28' : i[28],
            'Y29' : i[29],
            'Y30' : i[30],
            'Y31' : i[31],
            'Y32' : i[32],
            'Y33' : i[33],
            'Y34' : i[34],
            'Y35' : i[35],
            'Y36' : i[36],
            'Y37' : i[37],
            'Y38' : i[38],
            'Y39' : i[39],
            'Y40' : i[40],
            'Y41' : i[41],
            'Y42' : i[42],
            'Y43' : i[43],
            'Y44' : i[44],
            'Y45' : i[45],
            'Y46' : i[46],
            'Y47' : i[47],
            'Y48' : i[48],
            'Y49' : i[49],
            'Y50' : i[50],
        })
        s.add(record) #Add all the records

    s.commit() #Attempt to commit all the records
except:
    s.rollback() #Rollback the changes on error
finally:
    s.close() 

# loading Train.csv file into Train_data table

try:
    file_name = "E:/IUBH/Books/Python/codes/train.csv"
    data = Load_Data(file_name) 
    for i in data:
        
        record = Train_data(**{
            'X' : i[0],
            'Y1' : i[1],
            'Y2' : i[2],
            'Y3' : i[3],
            'Y4' : i[4]
        })
        s.add(record) #Add all the records

    s.commit() #Attempt to commit all the records
except:
    s.rollback() #Rollback the changes on error
finally:
    s.close() 

'''

In [7]:
#MetaData.tables.keys()
#engine.execute('drop table TrainingData')
print(engine.table_names())

2021-11-07 16:24:26,412 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-07 16:24:26,414 INFO sqlalchemy.engine.Engine [raw sql] ()
[]

C:\Users\THISPC~1\AppData\Local\Temp/ipykernel_6676/917043989.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [ ]:

result = engine.execute('SELECT * FROM Train_data')
for row in result:
    print (row)

In [3]:
def load_data():
    train_df=pd.read_csv("train.csv")
    test_df=pd.read_csv("test.csv")
    ideal_df=pd.read_csv("ideal.csv")
    return train_df,test_df,ideal_df

def load_test_data():
    np.random.seed(42)
    X = np.random.rand(100,1)
    y = 5*((X)**(2)) + np.random.rand(100,1)
    return X,y

In [4]:
train_df,test_df,ideal_df=load_data()
x=train_df.x.values
y1=train_df.y1.values
y2=train_df.y2.values
y3=train_df.y3.values
y4=train_df.y4.values

In [ ]:
#plt.plot(x,y1,'r.')
#plt.show()

In [6]:
train_df.head()

      x         y1        y2         y3        y4
0 -20.0  288.58140 -0.988556 -5831.8690  0.443241
1 -19.9  285.82210  0.567295 -5735.3140  1.055873
2 -19.8  282.38474  0.785842 -5639.8140  1.040785
3 -19.7  279.06848 -1.007226 -5545.3403  0.302182
4 -19.6  275.48670  0.508060 -5451.5000  0.392375

In [7]:
result_sigma=pd.DataFrame()
for i in range(1,5):
    for j in range(1,51):
        result_sigma.loc["y"+str(i),"y"+str(j)]=((train_df["y"+str(i)]-ideal_df["y"+str(j)])**2).sum(axis=0)

result_sigma.head()

,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
y1,1.561914e+07,1.560126e+07,1.452289e+07,1.504332e+07,1.679038e+07,1.561417e+07,1.563930e+07,1.561642e+07,1.558647e+07,1.573370e+07,...,1.458335e+07,1.706961e+07,1.532205e+07,1.561769e+07,1.424129e+07,1.506610e+07,1.618380e+07,1.561621e+07,1.562178e+07,1.560300e+07
y2,4.194892e+02,4.063143e+02,4.028827e+04,1.053227e+04,4.052343e+04,4.287303e+02,4.255952e+02,3.064758e+01,9.922319e+02,2.538037e+04,...,2.132969e+05,2.136425e+05,3.041488e+03,2.279782e+02,5.839944e+04,8.698546e+03,8.743197e+03,2.375366e+02,3.993860e+02,3.622579e+02
y3,4.398802e+09,4.398625e+09,4.392543e+09,4.395485e+09,4.404956e+09,4.398617e+09,4.398831e+09,4.398697e+09,4.398541e+09,4.399547e+09,...,4.345399e+09,4.452450e+09,4.397045e+09,4.398719e+09,4.390801e+09,4.395600e+09,4.401835e+09,4.398681e+09,4.398755e+09,4.398635e+09
y4,4.261376e+02,4.213123e+02,4.026335e+04,1.053149e+04,4.056107e+04,4.348053e+02,3.582691e+02,4.312886e+02,1.015866e+03,2.166382e+04,...,2.131673e+05,2.137892e+05,3.125353e+03,2.343707e+02,5.845173e+04,8.775141e+03,8.679325e+03,2.450791e+02,3.189784e+01,3.771493e+02

In [8]:
result_minimum=pd.DataFrame()
result_minimum=result_sigma.min(axis=1)
result_minimum.head()

y1    35.046135
y2    30.647575
y3    36.068929
y4    31.897840
dtype: float64

In [9]:
result_min_index=result_sigma.idxmin(axis=1)
result_min_index.head()

y1    y20
y2     y8
y3    y26
y4    y49
dtype: object

In [10]:
result_minimum.head()

y1    35.046135
y2    30.647575
y3    36.068929
y4    31.897840
dtype: float64

In [11]:
test_df.head()

      x            y
0 -18.2    -0.241388
1 -17.9   221.719540
2   5.4    -0.985441
3   3.9     1.077145
4   4.2  9627.307000

In [12]:
ideal_df.head()

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902

In [13]:
ideal_df.loc[ideal_df["x"]==-18.2,"y20"]

18    231.04
Name: y20, dtype: float64

In [14]:
col_list=result_min_index.values.tolist()
col_list.insert(0,"x")

In [15]:
col_list

['x', 'y20', 'y8', 'y26', 'y49']

In [16]:
new_df=ideal_df[col_list]
new_df

        x     y20        y8        y26       y49
0   -20.0  289.00 -0.850919  -5832.000  0.912945
1   -19.9  285.61  0.168518  -5735.339  0.867644
2   -19.8  282.24  0.612391  -5639.752  0.813674
3   -19.7  278.89 -0.994669  -5545.233  0.751573
4   -19.6  275.56  0.774356  -5451.776  0.681964
..    ...     ...       ...        ...       ...
395  19.5  506.25 -0.117020   9938.375  0.605540
396  19.6  510.76  0.774356  10077.696  0.681964
397  19.7  515.29 -0.994669  10218.313  0.751573
398  19.8  519.84  0.612391  10360.232  0.813674
399  19.9  524.41  0.168518  10503.459  0.867644

[400 rows x 5 columns]

In [17]:
[x for x in col_list if x!='x']

['y20', 'y8', 'y26', 'y49']

In [18]:
col_list

['x', 'y20', 'y8', 'y26', 'y49']

In [19]:
test_df

       x            y
0  -18.2    -0.241388
1  -17.9   221.719540
2    5.4    -0.985441
3    3.9     1.077145
4    4.2  9627.307000
..   ...          ...
95   8.4   130.051330
96   7.2     1.248182
97 -11.2     0.298232
98  -5.1     0.072377
99  -0.2     9.007054

[100 rows x 2 columns]

## for loop

In [20]:
final_result=pd.DataFrame()
for i in range(len(test_df)):
    y_test=test_df.loc[i,"y"] #-0.24
    x_test=test_df.loc[i,"x"] #-18.2
    row_4=new_df.loc[new_df["x"]==x_test,[x for x in col_list if x!="x"]]
    temp_1=row_4-y_test
    #print(row_4)
    #print("-----------------------------")
    #print(train_df.loc[train_df["x"]==x_test,[x for x in train_df.columns.tolist() if x!="x"]])
    #print("-----------------------------")
    #print(train_df.loc[train_df["x"]==x_test,[x for x in train_df.columns.tolist() if x!="x"]]-row_4.values)
    result=train_df.loc[train_df["x"]==x_test,[x for x in train_df.columns.tolist() if x!="x"]]-row_4.values
    #result=result.values.tolist()
    final_result.loc[i,"x"]=x_test
    final_result.loc[i,"y"]=y_test
    mask_result=(temp_1<(result.values*np.sqrt(2)))
    #print(mask_result)
    for col in mask_result.columns.tolist():
        final_result.loc[i,col]=mask_result[col].values[0]

print(final_result)

       x            y    y20     y8    y26    y49
0  -18.2    -0.241388  False   True   True   True
1  -17.9   221.719540  False   True   True   True
2    5.4    -0.985441  False  False  False  False
3    3.9     1.077145  False   True  False   True
4    4.2  9627.307000   True   True   True   True
..   ...          ...    ...    ...    ...    ...
95   8.4   130.051330   True   True  False   True
96   7.2     1.248182  False   True  False   True
97 -11.2     0.298232  False   True   True   True
98  -5.1     0.072377  False  False   True   True
99  -0.2     9.007054   True   True   True   True

[100 rows x 6 columns]

In [21]:
final_result

       x            y    y20     y8    y26    y49
0  -18.2    -0.241388  False   True   True   True
1  -17.9   221.719540  False   True   True   True
2    5.4    -0.985441  False  False  False  False
3    3.9     1.077145  False   True  False   True
4    4.2  9627.307000   True   True   True   True
..   ...          ...    ...    ...    ...    ...
95   8.4   130.051330   True   True  False   True
96   7.2     1.248182  False   True  False   True
97 -11.2     0.298232  False   True   True   True
98  -5.1     0.072377  False  False   True   True
99  -0.2     9.007054   True   True   True   True

[100 rows x 6 columns]

In [ ]:
ideal_df.loc[ideal_df["x"]==-18.20,"y20"]

18    231.04
Name: y20, dtype: float64

In [ ]:
engine = create_engine("postgres://localhost/mydb")
if not database_exists(engine.url):
    create_database(engine.url)

print(database_exists(engine.url))